@import '../tachyons.min.css';

.system-font { font-family: -apple-system, BlinkMacSystemFont, /* MacOS and iOS */
               'avenir next', avenir, /* MacOS and iOS */
               'Segoe UI', /* Windows */
               'lucida grande', /* Older MacOS */
               'helvetica neue', helvetica, /* Older MacOS */
               'Fira Sans', /* Firefox OS */
               roboto, noto, /* Google stuff */
               'Droid Sans', /* Old Google stuff */
               cantarell, oxygen, ubuntu, /* Linux stuff */
               'franklin gothic medium', 'century gothic', /* Windows stuff */
               'Liberation Sans', /* Linux */
               sans-serif; /* Everything else */ }

.type-tag {
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 12px;
}

.caught-text {
  font-size: .875rem;
  text-transform: uppercase;
  margin-top: 1rem;
  letter-spacing: .1em;
  font-weight: 700;
}

.uncaught {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
  border-color: rgba(0,0,0,.3);
  border-style: solid;
  border-width: 1px;
}

.caught {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
  background-color: #19a974;
  color: white !important;
}

.shiny {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
  border-radius: .5rem;
  background-color: #357EDD;
  color: white !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.tracked-custom { letter-spacing: .075rem; }

.brown { color: #746254; }
.bg-brown { background-color: #746254; }

.current-sprite {
  height: 5rem;
}

.shadow-custom { box-shadow: 0px 5px 50px 0px rgba(0,0,0, 0.08); transition: box-shadow 0.5s;}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
